
@{
    ViewData["Title"] = "Admin Tools";
}

<div class="text-center">
    <h1>Admin Tools</h1>
</div>

<br /><br />


<div class="link-holder">
    <a asp-area="" asp-controller="Admin" asp-action="Users" class="my-link">
        <div class="link-decorator">
            <h4>View All Users</h4>
        </div>
    </a>
</div>

<div class="link-holder">
    <a asp-area="" asp-controller="Admin" asp-action="Orders" class="my-link">
        <div class="link-decorator">
            <h4>View All Orders</h4>
        </div>
    </a>
</div>

<div class="link-holder">
    <a asp-area="" asp-controller="Admin" asp-action="Locations" class="my-link">
        <div class="link-decorator">
            <h4>View All Locations</h4>
        </div>
    </a>
</div>

