@model IEnumerable<PizzaProject1.Models.LocationInventory>

@{
    ViewData["Title"] = "Admin - Inventory for Location";
}

<div class="text-center">
    <h1>Location Inventory</h1>
</div>

<p>
    <a asp-action="Locations"><< Back to Locations List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToppingDetails.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ToppingDetails.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
